.element__like-logo {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.element__like-logo:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__like-logo:active {
  background-image: url(../../../images/like-active.svg);
}
